<div class="col-lg-6 col-md-6">
  <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
    <div class="list-group">
      <h4 class="list-group-item active">Personal info</h4>
      <div class="list-group-item">
        <div class="pderrorPanel hidden">
        </div>
        <div class="alert alert-success hidden pdsuccessResult" role="alert">
          <strong>Well Done!</strong> You have successfully updated the personal details.
        </div>
        <div class="alert alert-danger hidden pderrorResult" role="alert">
          Currently there are some technical issue . Please try again later.
        </div>
        <form class="form-horizontal" id="frmpersonaldetails">
          <div class="form-group md-form">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" autofocus="autofocus" value="{{personaldetails.firstname}}">
          </div>

          <div class="form-group md-form">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" value="{{personaldetails.lastname}}">
          </div>

<div class="form-group md-form">
            <label for="lastname">DOB</label>
            <input type="text" class="form-control" id="dob" name="dob" value="{{personaldetails.dob}}">
          </div>

          <div class="form-group md-form">
            <label for="phone">Contact Number</label>
            <input type="text" class="form-control" id="phone" name="phone" value="{{personaldetails.phone}}">
          </div>

          <div class="form-group ">
            <button class="btn btn-info" type="submit">Save</button>
          </div>

          {{#if personaldetails}}
            <input type="hidden" id='userid' name='userid' value="{{personaldetails.userid}}">
            <input type="hidden" id='_id' name='_id' value="{{personaldetails._id}}"> {{else}}
            <input type="hidden" id='userid' name='userid' value="{{user._id}}">
            <input type="hidden" id='_id' name='_id' value=""> {{/if}}

        </form>
      </div>


    </div>
  </div>
</div>