<div class="col-lg-6 col-md-6">
  <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
    <div class="list-group">
      <h4 class="list-group-item active">Contact details</h4>
      <div class="list-group-item">
        <div class="cderrorPanel hidden">
        </div>
        <div class="alert alert-success hidden cdsuccessResult" role="alert">
          <strong>Well Done!</strong> You have successfully updated the education details.
        </div>
        <div class="alert alert-danger hidden cderrorResult" role="alert">
          Currently there are some technical issue . Please try again later.
        </div>
        <form class="form-horizontal" id="frmcontactdetails">
          <div class="form-group md-form">
            <label for="address1">Address1</label>
            <input type="text" class="form-control" id="address1" name="address1" autofocus="autofocus" value="{{contactdetails.address1}}">
          </div>

          <div class="form-group md-form">
            <label for="address2">Address2</label>
            <input type="text" class="form-control" id="address2" name="address2" value="{{contactdetails.address2}}">
          </div>

          <div class="form-group md-form" id="bloodhound">
            <input class="form-control typeahead defaultfontweight" placeholder="Select Country" type="text" id="country" name="country"
              value="{{contactdetails.country}}">
          </div>

          <div class="form-group md-form">
            <label for="location">Pin Number</label>
            <input type="text" class="form-control" id="pinno" name="pinno" value="{{contactdetails.pinno}}">
          </div>

          <div class="form-group ">
            <button class="btn btn-info" type="submit">Save</button>
          </div>

          {{#if contactdetails}}
          <input type="hidden" id='userid' name='userid' value="{{contactdetails.userid}}">
          <input type="hidden" id='_id' name='_id' value="{{contactdetails._id}}"> {{else}}
          <input type="hidden" id='userid' name='userid' value="{{user._id}}">
          <input type="hidden" id='_id' name='_id' value=""> {{/if}}

        </form>
      </div>
    </div>
  </div>
</div>