<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blogger's Point">
    <meta name="author" content="TechCOE">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet"> {{!--
    <link href="/css/waves.css" rel="stylesheet" /> --}}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/imgProgress.css"> 

     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Text Editor -->
    <script src="/ckeditor/ckeditor.js"></script>



</head>

<body>
    <header>
        <nav class="navbar navbar-toggleable-md navbar-dark">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <strong>Blogger's Meet</strong>
                </a>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbarNav1">
                    {{#if user }}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
                        {{#IsAdmin user.admin}} {{/IsAdmin}}
                        <li class="nav-item"><a class="nav-link" href="/blog">Blogs</a></li>
                    </ul>
                    <form class="form-inline waves-effect waves-light">
                        <input class="form-control" type="text" placeholder="Search">
                    </form>
                    <ul class="nav-item navbar-nav navbar-right">
                        <li class="nav-item dropdown btn-group">
                            <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false">
                            <img src="/{{user._id}}/{{user._id}}.jpg" 
                            class="profile-image navbarimage four reloadimage"> {{user.name}} <b class="caret"></b>
                            </a>
                            <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="/myprofile/{{user._id}}">My Profile</a>
                                <a class="dropdown-item" href="/auth/logout">Log-out {{user.name}}</a>
                            </div>
                        </li>
                    </ul>
                    {{else}}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    </ul>
                    {{!--
                    <form class="form-inline waves-effect waves-light">
                        <input class="form-control" type="text" placeholder="Search">
                    </form> --}}
                    <div id="bloodhound">
                        <input class="typeahead " type="text" placeholder="Countries"> {{!-- <input class="form-control"
                            type="text" placeholder="Search"> --}}
                    </div>
                    <ul class="nav-item navbar-nav navbar-right">
                        <li class="nav-item active"><a class="nav-link" href="/auth/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/auth/userregistration">Sign-up</a></li>
                    </ul>
                    {{/if}}
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            {{{body}}}

            <!-- /.row -->
            {{!--
            <hr> {{> footer}}--}}
        </div>
    </main>

    {{> footer}}

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>

      <!-- JQuery LINQ -->
    <script type="text/javascript" src="/js/alasql.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/typeahead.bundle.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>

     <script type="text/javascript" src="/plugins/waitMe/waitMe.js"></script>     
    <script src="/js/highchart/highcharts.js"></script>
     <script src="https://code.highcharts.com/modules/exporting.js"></script>
   

    <script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
    {{!-- <script src="/js/imgProgress.js"></script> --}}

    <!-- Common JavaScript Methods -->
    <script src="/js/common.js"></script>

    <script src="/js/imgProgress.js"></script> 

     <script src="/js/myprofile.js"></script>

    <script>
        new WOW().init();
    </script>
    

</body>

</html>