<h1>Create User</h1>

<br/>

{{#if IsUserNameAvailable }}
<div class="col-sm-6 text-success "><i>Username already available</i></div>
{{/if}}

{{#if IsError }}
<div class="col-sm-6 text-success "><i>Error in insert</i></div>
{{/if}} {{#if IsUpdated }}
<div class="col-sm-6 text-success "><i>Profile inserted Successfully</i></div>
 <a class="button" href="/auth/login">Go to login</a>
{{else}}
<div class="main-content row">
  <div class="col-md-10 col-md-offset-2">

    <form class="form-horizontal" action="/auth/userregistration" method="POST">

      {{!--
      <div class="form-group">
        <div class="text-right">
          <a href="/admin/list"><img class="img-circle imgwidth" src="/images/list.jpg" alt="List of users"/></a>
          <a href="/home"><img class="img-circle imgwidth" src="/images/home.jpg" alt="Home"/></a>
        </div>
      </div>--}} 
      {{#if errors }}
      <ul class="errors alert-danger">
        {{#each errors}}
        <li>{{this.msg}} </li>
        {{/each}}
      </ul>
      {{/if}}

      <div class="form-group md-form">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" name="username" value="{{username}}" autofocus="autofocus">
      </div>
      <div class="form-group md-form">
        <label for="name">Full Name:</label>
          <input type="text" class="form-control" id="name" name="name" value="{{name}}" autofocus="autofocus">
      </div>
      <div class="form-group md-form">
        <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" name="email" value="{{email}}">
      </div>
      <div class="form-group md-form">
        <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" value="{{password}}">
      </div>
      <div class="form-group md-form">
        <label for="password2">Confirm Password:</label>
          <input type="password" class="form-control" id="password2" name="password2" value="{{password2}}">
      </div>
      <div class="form-group">

          <button type="submit" class="btn btn-info">Submit</button>
          <button type="reset" class="btn btn-info">Reset</button>
      </div>
    </form>
  </div>
</div>
{{/if}}