<div class="row">
    <div class="col-lg-8">

        {{#if blog}}

        <div class="col-lg-12 blogdata">

            <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">

                <!-- Title ,Author ,Date/Time-->
                <h1 class="h1-responsive"><img border="0" src="/images/article.png" title="article"> {{title}}</h1>
                <p>Written by <a href="#">{{blog.createdby}}</a>,
                    <span class="glyphicon glyphicon-time"></span> Posted on {{blog.creationdate}}</p>

                <!--Content-->
                <p>{{{blog.content}}}</p>

            </div>

        </div>

        <!-- Blog Comments -->
        <!-- Comments Form -->
        <div class="widget-wrapper wow fadeIn" data-wow-delay="0.6s">
            <div class="card">
                <div class="card-block">
                    <h5><strong>Leave a Comment</strong></h5>
                    <form role="form" action="/viewblog/addcomments" method="POST">
                        <div class="form-group md-form">
                            <textarea class="form-control" rows="4" name="blogcomment" id="blogcomment" required="required"></textarea>
                            <input type="hidden" value="{{blog._id}}" name="_id" id="_id" />
                            <input type="hidden" id="addedby" name="addedby" value={{user.username}} />
                        </div>
                        <button type="submit" class="btn btn-info">Submit</button>
                    </form>

                    <hr>

                    <!-- Posted Comments -->
                    {{#if comments}}

                    <ul id="comments" class="comments">
                        {{#each comments}}
                        <li class="comment">
                            <div class="clearfix">
                                <h4 class="pull-left">{{this.addedby}}</h4>
                                <p class="pull-right">{{this.date}}</p>
                            </div>
                            <p>
                                <em>{{this.blogcomment}}</em>
                            </p>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Top Visited Side Widget Well -->
        <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
            <div class="list-group">
                <h4 class="list-group-item active">Top Visit</h4>
                <a href="#" class="list-group-item">display the top visited blogs.</a>
            </div>
        </div>

        <!-- Top Visited Side Widget Well -->
        {{#if mostrecentblogs}} {{> recentblogs mostrecentblogs=mostrecentblogs }} {{/if}}
    </div>
</div>