{{!-- {{#Compare index 0}}
<img class="img-responsive img-circle img-fluid" border="0" src="/images/learnings.jpg" title="article" /> {{else}} --}}
{{#each blogs}}
<div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">

    <!-- Title ,Author ,Date/Time-->
    <h1 class="h1-responsive"><a href="/viewblog/showdetails/{{this._id}}">
                    <img border="0" src="/images/article.png" title="article"></a>{{this.topic}}</h1>
    <p>Written by <a href="#">{{this.createdby}}</a>,
        <span class="glyphicon glyphicon-time"></span> Posted on {{this.creationdate}}</p>

    <!--Content-->
    <span class="limitblogdata">{{{this.content}}}</span>

    <!--"Read more" button-->
    <a href="/viewblog/showdetails/{{this._id}}"><button class="btn btn-info">Read more</button></a>

</div>

<hr> {{/each}} 
 {{#if index}}
<input type="hidden" name="nextsearindex" id="nextsearindex" value={{index}} /> {{/if}}
{{!-- {{/Compare}} --}}